        {% load static %}
        <!---------------------------------------------------------------- Img & Social Media Start ------------------------------------------------------------------------------>
        <!-- <div class="section1">
            <section class="image-section">
                <div class="image-container">
                    <img src="{% static '/img/Chakra.png' %}" alt="Ice Cream">
                </div>
                <div class="social-icons">
                    <a href="https://www.facebook.com" target="_blank"><img
                            src="{% static '/img/facebook.png' %}"
                            alt="Facebook"></a>
                    <a href="https://www.instagram.com" target="_blank"><img
                            src="{% static 'img/instagram.png' %}"
                            alt="Instagram"></a>
                    <a href="https://www.youtube.com" target="_blank"><img
                            src="{% static 'img/youtube.png' %}"
                            alt="YouTube"></a>
                </div>
            </section>
        </div> -->
        <!---------------------------------------------------------------- Img & Social Media End ------------------------------------------------------------------------------>
        <!---------------------------------------------------------------- Footer Start ------------------------------------------------------------------------------>
        <footer class="footer">
            <p>Sri Krushna Colony no.2,<br>
                Nakhate Nagar,Rahatani,<br>
                Pimpri-Chinchwad, Pune 411017</p>
            <p>
                <a href="tel:9172345429">📞 9172345429</a><br>
                <a
                    href="mailto:enquiry@palekaricecreams.com">enquiry@palekaricecreams.com</a>
            </p>
            <p>Designed with ❤️ by rohittt</p>
        </footer>
        <!---------------------------------------------------------------- Footer End ------------------------------------------------------------------------------>

        <!---------------------------------------------------------------- Bootstrap JS Included ------------------------------------------------------------------------------>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
            <script type="text/javascript" src="{% static '/js/main.js' %}"></script>
    </body>

</html>